@model TestViewModel

@{
    // Layout = null;
}

<!DOCTYPE html>

<html lang="us">
<head>
    <title>test</title>
</head>
<body>
<div>
    <div class="row">
        <div class="col">
            <button class="btn btn-primary">
                Add entry
            </button>
        </div>
        <div class="col">
            <input type="text">
            @* <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1"> *@
            <button class="btn btn-primary">
                Change date
            </button>
        </div>
        <div class="col">
            Accepted activities
            <ul>
                @foreach (var activity in Model.Report.AcceptedActivities) {
                    <li>
                        @(activity.Code): @(activity.Time)
                    </li>
                }
            </ul>
        </div>
    </div>
    <div class="row">
        @foreach (var entry in Model.Report.Entries) {
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">@entry.Code</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Date: @entry.Date</h6>
                    <p class="card-text">Time is: @(entry.Time)$</p>
                    <a href="#" class="btn btn-primary">Edit</a>
                    <a href="#" class="btn btn-danger">Delete</a>
                </div>
            </div>
        }
    </div>
</div>
</body>
</html>